@use 'src/styles/variables' as v;

.contact {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	background-color: v.$primary-color;

	&__content {
		height: 100%;
		width: 30%;
		color: #ffffff;
		display: flex;
		flex-direction: column;
		margin-left: 10%;

		h2 {
			text-transform: uppercase;
			font-size: .8vw;
			font-weight: 500;
			margin-bottom: 10vw;
		}

		p:first-of-type {
			font-size: 3.33vw;
			font-weight: 700;
		}

		p:last-of-type {
			font-size: 1.8vw;
			font-weight: 500;
			line-height: 2.75vw;
		}

		.button--unfilled {
			background-color: v.$primary-color;
			color: v.$secondary-color;
			margin: 0;
			justify-content: flex-start;
			transition: color v.$transition-time linear;

			&:hover {
				color: v.$yellow;
			}
		}
	}
}
