@use "src/styles/variables" as v;

header {
	display: flex;
	background-color: v.$header-color;
	height: 43.75vw;
	width: 100%;
	flex-direction: column;
	align-items: center;

	.#{&}__info {
		height: 80%;
		width: 27%;
		align-self: flex-start;
		margin: 5vw 0 0 10%;

		h2 {
			font-size: 2.5vw;
		}

		& > div {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
	}

	.#{&}__title, h1 {
		font-size: 1.25vw;
		color: v.$secondary-color;
		transition: color v.$transition-time linear;
	}

	.#{&}__title:hover {
		cursor: pointer;
		color: v.$primary-color;
	}

	.#{&}__description {
		font-size: 1.25vw;
		line-height: 2.5vw;
	}

	.#{&}__whitespace {
		width: 16.8vw;
		height: 43.75vw;
		z-index: 0;
		position: absolute;
		right: 0;
		top: 0;
		background-color: #ffffff;
	}

	.#{&}__rectangle {
		position: absolute;
		right: 0;
		top: 0;
	}

	.#{&}__mask {
		position: absolute;
		right: 0;
		top: 0;
	}
}

nav {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5vw;
	flex-direction: row;

	.#{&}__navigation {
		width: 50%;
		display: flex;
		justify-content: center;

		a {
			display: block;
			font-weight: 500;
			font-size: 1vw;
			color: v.$primary-color;
			transition: font-weight v.$transition-time linear;
			padding: 0 .5vw 1vw .5vw;
			text-align: center;
			width: 20%;

			&:hover {
				cursor: pointer;
				padding: 0 .5vw .9vw .5vw;
				border-bottom: .1vw solid v.$primary-color;
				font-weight: 700;
			}
		}

		& > div {
			width: 50%;
			display: flex;
			justify-content: space-around;
		}
	}

	.#{&}__button {
		$height: 2vw;
		z-index: 1;
		border-radius: $height;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 700;
		font-size: 1vw;
		text-transform: uppercase;
		padding: .5vw 1vw;
		width: 7.8vw;
		height: $height;
		background-color: v.$secondary-color;
		color: #ffffff;
		transition: background-color v.$transition-time linear;

		a:visited {
			color: #ffffff;
		}

		&:hover {
			cursor: pointer;
			background-color: v.$primary-color;
		}
	}
}
