.about {
    display: flex;
    height: 19vw;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.about h2 {
    align-self: center;
    text-transform: uppercase;
    font-size: .8vw;
}

.about p {
    align-self: flex-end;
    justify-self: center;
    font-size: 1.25vw;
    width: 30%;
    font-weight: 600;
}
