.blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.blog__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin-right: 15%;
}

.blog__content h2 {
    font-weight: 500;
    font-size: .8vw;
    text-transform: uppercase;
    margin-bottom: 15vw;
}

.blog__content > span {
    color: var(--primary-color);
    font-size: 1.8vw;
    font-weight: 700;
    width: 70%;
    line-height: 3vw;
    margin-bottom: 5vw;
}

.blog__content > span > span {
    color: var(--secondary-color);
    font-size: 1.8vw;
}

.blog__content .button--unfilled {
    background-color: #ffffff;
    margin: 0;
    justify-content: flex-start;
}
