.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--font-primary-color);
}

.contact__content {
    height: 100%;
    width: 30%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.contact__content h2 {
    text-transform: uppercase;
    font-size: .8vw;
    font-weight: 500;
    margin-bottom: 10vw;
}

.contact__content p:first-of-type {
    font-size: 3.33vw;
    font-weight: 700;
}

.contact__content p:last-of-type {
    font-size: 1.8vw;
    font-weight: 500;
    line-height: 2.75vw;
}

.contact__content .button--unfilled {
    background-color: var(--font-primary-color);
    color: var(--font-secondary-color);
    margin: 0;
    justify-content: flex-start;
    transition: color var(--transition-time) linear;
}

.contact__content .button--unfilled:hover {
    color: var(--yellow);
}
