header {
    display: flex;
    background-color: var(--header-color);
    height: 43.75vw;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.header__info {
    height: 80%;
    width: 27%;
    align-self: flex-start;
    margin-left: 10%;
}

.header__info > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__title, h1 {
    font-size: 1.25vw;
    color: var(--font-secondary-color);
    transition: color var(--transition-time) linear;
}

.header__title:hover {
    cursor: pointer;
    color: var(--font-primary-color);
}

.header__description {
    font-size: 1.25vw;
}

.header__button--filled, .header__button--open {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8vw;
    font-weight: 700;
    text-transform: uppercase;
    height: 2.6vw;
    width: 7.8vw;
    transition: background-color var(--transition-time) linear, color var(--transition-time) linear;
}

.header__button--filled {
    background-color: var(--yellow);
    color: #ffffff;
}

.header__button--filled:hover {
    background-color: var(--font-secondary-color);
    cursor: pointer;
}

.header__button--open {
    color: var(--yellow);
    background-color: var(--header-color);
}

.header__button--open:hover {
    cursor: pointer;
    color: var(--font-secondary-color);
}

header nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vw;
    flex-direction: row;
}

.nav__navigation {
    width: 50%;
    display: flex;
    justify-content: center;
}

.nav__navigation--selected {
    font-weight: 700;
    border-bottom: 2px solid var(--font-primary-color);
}

.nav__navigation a {
    font-weight: 500;
    font-size: 1vw;
    color: var(--font-primary-color);
    transition: font-weight var(--transition-time) linear;
}

.nav__navigation a:hover {
    font-weight: 700;
}

.nav__navigation > div {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.nav__button {
    border-radius: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1vw;
    text-transform: uppercase;
    padding: .5vw 1vw;
    width: 7vw;
    height: 1.5vw;
    background-color: var(--font-secondary-color);
    color: #ffffff;
    transition: background-color var(--transition-time) linear;
}

.nav__button:hover {
    cursor: pointer;
    background-color: var(--font-primary-color);
}
