.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--font-secondary-color);
    height: 31.6vw;
}

.home > div {
    width: 30%;
    margin-left: 10%;
}

.home h2 {
    color: #ffffff;
    font-size: 2.5vw;
    margin: 5vw 0 3vw 0;
}

.home span {
    color: #ffffff;
    font-size: 1.25vw;
    line-height: 2vw;
}

.home span:first-of-type {
    font-weight: 600;
}

.home span:last-of-type{
    font-weight: 500;
}
