@import "fonts.css";

:root {
    --header-color: #F4F9E2;
    --primary-color: #22356F;
    --secondary-color: #62D0DF;
    --transition-time: .15s;
    --yellow: #F9B640;
}

html, body {
    margin: 0;
    font-family: "Larsseit", sans-serif;
    color: var(--primary-color);
    font-weight: 500;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25vw;
}

a:visited {
    color: var(--secondary-color);
}

.button--filled, .button--unfilled {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8vw;
    font-weight: 700;
    text-transform: uppercase;
    height: 2.6vw;
    width: 7.8vw;
    transition: background-color var(--transition-time) linear, color var(--transition-time) linear;
}

.button--filled {
    background-color: var(--yellow);
    color: #ffffff;
}

.button--filled:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.button--unfilled {
    margin-left: 1vw;
    color: var(--yellow);
    background-color: var(--header-color);
}

.button--unfilled:hover {
    cursor: pointer;
    color: var(--secondary-color);
}
